<div class="nav-header">
	<a href="{{ path('app_home') }}" class="brand-logo">
		<div class="text-center d-sm-none d-md-block">
			<!--<img src="{{ asset('themes/admin/images/logo-full.png') }}" alt="{{ appName }} - logo">-->
		</div>
	</a>

	<div class="nav-control">
		<div class="hamburger">
			<span class="line"></span>
			<span class="line"></span>
			<span class="line"></span>
		</div>
	</div>
</div>
