{% extends "base.html.twig" %}

{% block title %} A propos de {{ appName }} {% endblock %}

{% block body %}

<section class="section-banner" style="background-image: url({{ asset('themes/front/assets/img/cabane-one-performance.jpg') }});">
    <div class="caption">
        <div class="container">
            <h1>A propos de nous</h1>
        </div>
    </div>
</section>

<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-9 mx-auto">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quidem repellat mollitia adipisci reprehenderit est illum ipsam eligendi, dignissimos, id quod ullam nam laboriosam! Cumque harum nostrum saepe eligendi possimus.</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea amet fugit architecto aspernatur suscipit at reiciendis voluptates. Eius nobis, debitis, molestias cumque officiis repudiandae, odio consectetur minima assumenda rem possimus.</p>
                
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi perspiciatis unde quam. Illo labore accusantium fuga nihil praesentium est.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores accusantium iure illum odit. In tenetur quaerat maiores ullam, iusto blanditiis assumenda nisi exercitationem odit natus a excepturi neque esse molestiae minus veritatis facere sunt sed commodi suscipit, quibusdam numquam non aliquid! Velit est sint maxime distinctio minima dicta beatae, explicabo commodi nihil, error nulla recusandae tenetur excepturi libero rem. Eaque cumque qui ullam quasi minima animi, voluptas nihil at sint impedit quae. Iure quis voluptas totam voluptates non nam nihil tenetur minus vitae, ipsam cupiditate dolor adipisci officia, explicabo quam eum ab! Molestiae explicabo amet nobis maxime, similique inventore minima, est quaerat quod aliquam, magnam corrupti a doloremque accusantium recusandae eius iste! Dolor amet aliquid facilis, quo at sint quas? Nulla alias dolore, libero incidunt aliquid recusandae minima! Iusto autem temporibus laboriosam voluptatem et laudantium eos blanditiis ea excepturi quas harum ullam amet est, voluptate doloribus exercitationem ex maxime esse corrupti nemo. Consequatur repudiandae dolore, eum voluptates earum fugiat perspiciatis maiores consequuntur debitis aut laudantium quam asperiores error id incidunt. Ut in culpa accusamus unde? Asperiores error amet id, hic cum consequatur illo est nobis eligendi voluptatum repudiandae adipisci nam perspiciatis odio dicta aut fugiat dolor alias deserunt deleniti ut cupiditate eius consectetur reprehenderit. Tempora aliquid praesentium consequuntur vel dignissimos est modi eveniet quia consectetur reprehenderit a, quam, atque ullam doloribus mollitia. Autem ullam nulla cum illum inventore facilis! Doloremque itaque iure accusamus modi sequi ab reprehenderit molestiae iusto fugiat porro repellendus impedit laborum cupiditate quisquam dignissimos nobis architecto consequatur obcaecati perspiciatis earum odio, tempore tenetur quo expedita! Quae praesentium culpa, adipisci aspernatur ducimus ipsa repudiandae earum accusantium voluptates totam dolor sunt architecto incidunt perspiciatis eaque labore cumque molestias optio et rem quos. Tempora at eaque aspernatur fuga ullam vel voluptatibus numquam veniam sapiente nesciunt quod ipsam, aliquid quo eum.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex necessitatibus est sequi vel nulla iste molestias accusamus soluta optio facilis, illum ullam veniam explicabo. Recusandae ea possimus repellendus accusamus ipsum.</p>
                
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam asperiores omnis eum architecto nulla porro vitae commodi laudantium, ab nesciunt.</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione vel sapiente est accusamus aliquid! Ullam officia veniam tempore ex similique, rerum vel eius sit sunt iusto ducimus officiis fugiat at.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptatibus quis quasi tenetur fuga ab eaque blanditiis nisi esse commodi saepe ducimus laudantium quaerat, pariatur cum temporibus, officiis impedit fugiat.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}