{% extends "base.html.twig" %}

{% block title %} A propos de {{ appName }} {% endblock %}

{% block body %}

<section class="section-banner" style="background-image: url({{ asset('themes/front/assets/img/cabane-one-performance.jpg') }});">
    <div class="caption">
        <div class="container">
            <h1 class="mt-4 text-center">A propos de nous</h1>
        </div>
    </div>
</section>

<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-9 mx-auto">

                <p>Nissim, la première plateforme spécialisée dans la levée de fonds pour le financement des maisons écologiques et durables. <br>

                Notre mission : financer la construction des maisons écologiques et durables. <br>

                Adhérer à la dynamique NISSIM, c'est faire le choix de participer au développement d'un écosystème durable. <br>

                Tous les processus de l'inscription et suivi des projets sont administrés par des professionnels partenaires.
                </p>


                
                <h3>Nos points clés</h3>
                <div>
                    ●   EXPÉRIENCE :  Les avantages de ce type de construction sont multiples : isolation renforcée; délais de construction réduits; matériau robuste, sûr et totalement renouvelable .. <br>
                    ●   SAVOIR FAIRE : Depuis 15 ans, nous participons aux ventes aux enchères en Ile-de-France (spécialement Seine-et-Marne). Nous achetons, rénovons et revendons les biens . <br>
                    ●   EFFICACITÉ : Nous prenons en charge le projet de A à Z :  Collecte des fonds, Achat de terrain, Construction de la maison façon clé en main, La vente de la maison Rémunération et retours des fonds aux participants. <br>
                    ●   CONNAISSANCE : Approfondie du marché immobilier · Excellentes capacités en communication · <br>
                    ●   RÉSEAU: Avec un grand réseau des professionnels partenaires (Financiers, Avocats et Expert-comptable) pour la bonne réalisation du projet.

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}