{% extends "base.html.twig" %}

{% block title %} Conditions Générales d'Utilisation {% endblock %}

{% block body %}

<section class="condition-section" style="background-image: url({{ asset('themes/front/assets/img/cabane-one-performance.jpg') }});">

	<div class="caption">
		<div class="container">
			<h1>Conditions Générales d'Utilisation</h1>
			<div class="pb-4">
			Nissim est une Société à responsabilité limité (S.A.R.L) au capital de 2500
			euros dont le siège social est situé Harju maako nd, Tallinn, Kesklinna
			linnaosa, Ahtri tn 12, 10151 Estonie, immatriculée au code estonien suivant :
			code d'enregistrement/ registry code : 16489925 (ci-après « Nissim »), est : <br>
			• Prestataire de construction de bien immobilier agréée officiellement depuis
			Mars 2022 par l’Autorité estonienne sous le numéro 16489925 <br>
			• Entité ayant pour dans ses objets, la collecte de Financement Participatif sous
			la forme de levée de fonds en vue de réinvestir dans la construction
			immobilière.
			NISSIM exploite son propre site internet accessible à l’adresse
			<a target="_blanck" href="https://nissim-construction.com/">https://nissim-construction.com/</a>
		</div>
		</div>
	</div>
</section>

<!-- START Contact Us AREA -->
<section id="contact" class="contact-us section-padding bg-light">
	<div class="container">

		<div class="section-title text-left wow zoomIn">
			<h2>Conditions Générales d'Utilisation</h2>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-7 col-sm-12 col-xs-12">
				<div id="accordion">

					<div class="card">
						<div class="card-header">
							<a class="card-link" data-toggle="collapse" href="#One">
								ARTICLE 1. Présentation des C.G.U.
							</a>
						</div>
						<div id="One" class="collapse show" data-parent="#accordion">
							<div class="card-body">
								<p>
									Les présentes Conditions Générales d'Utilisation (ci-après « CGU ») ont pour objet de
									définir les dispositions qui s'appliquent aux internautes personnes physiques ou
									morales dans le cadre de l’accès et l'utilisation des informations et services du Site
									(ci-après les « Internautes »), et ce quel que soit leur statut : Visiteur, Utilisateur,
									Investisseur ou Donateur tel que définis à l’ARTICLE 3 ci-dessous et de décrire les
									services proposés sur le Site. <br>
									Les présentes CGU sont accessibles et imprimables à tout moment par un lien direct
									en bas de page du Site. <br>
									Les présentes CGU pourront être complétées notamment par les conditions
									générales d’utilisation du prestataire de services de paiement avec comme devises
									acceptées le dollar ($) ou l’euro (€) ou tout intermédiaire mandaté par le Site ou par
									des conditions particulières qui seront présentées et devront être acceptées par
									l'Internaute préalablement à toute possibilité d'accès à certaines informations et
									certains services.
								</p>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header">
							<a class="collapsed card-link" data-toggle="collapse" href="#Two">
								ARTICLE 2. Acceptation des C.G.U et conditions d’accès au Site et aux Services
							</a>
						</div>
						<div id="Two" class="collapse" data-parent="#accordion">
							<div class="card-body">
								<p>
									Le Site est accessible à partir de l’adresse suivante <a target="_blanck" href="https://nissim-construction.com/">https://nissim-construction.com/</a>
									L’accessibilité à certaines informations et services du Site est soumise à inscription
									et création d’un Compte dans les conditions définies dans l’ARTICLE 4 ci-après.
									Tout accès ou utilisation du Site vaut acceptation sans réserve des présentes CGU.
									L’Internaute qui n’accepte pas d’être lié par les présentes CGU ne doit pas accéder au
									Site ni utiliser les Services.
									Nissim peut modifier à tout moment les informations présentes sur le Site ainsi que
									dans les présentes CGU, notamment afin de respecter toute nouvelle législation et/ou
									règlementation. Les modifications de ces CGU sont opposables aux Internautes du
									Site à compter de leur mise en ligne. Dans ces conditions, l’Internaute est invité à
									consulter les CGU régulièrement.
								</p>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header">
							<a class="collapsed card-link" data-toggle="collapse" href="#Three">
								ARTICLE 3. Statut des Internautes
							</a>
						</div>
						<div id="Three" class="collapse" data-parent="#accordion">
							<div class="card-body">
								<p>
									Les Internautes peuvent avoir le statut suivant en fonction de leur activité sur le Site
									: <br>
									• « Visiteurs » désigne les Internautes personnes physiques ou morales
									accédant au Site mais ne s’inscrivant pas en qualité d’Utilisateur. Tout Visiteur
									est réputé accepter les règles régissant le fonctionnement du Site. <br>
									• « Utilisateurs » désigne les Internautes personnes physiques ou morales
									inscrits sur le Site. <br>
									• « Investisseurs » désigne les Utilisateurs ayant investi dans un Projet
									immobilier via le Site. <br>
									• « Donateurs » désigne les Utilisateurs ayant réalisé une Donation dans un
									Projet via le Site.
								</p>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header">
							<a class="collapsed card-link" data-toggle="collapse" href="#four">
								ARTICLE 4. Conditions de création d’un Compte (ci-avant et ci-après « Compte »)
							</a>
						</div>
						<div id="four" class="collapse" data-parent="#accordion">
							<div class="card-body">

								Tout Visiteur peut se créer un Compte directement sur le Site.

								<h5>4.1 Capacité juridique des titulaires d’un Compte</h5>

								<p>
									Le Site et les Services sont accessibles : <br>
									• A toute personne physique disposant de la pleine capacité juridique pour
									s’engager au titre des présentes conditions générales.
									La personne physique qui ne dispose pas de la pleine capacité juridique ne
									peut accéder au Site et aux Services qu’avec l’accord de son représentant
									légal. <br>
									• A toute personne morale agissant par l’intermédiaire d’une personne physique
									disposant de la capacité juridique pour contracter au nom et pour le compte
									de la personne morale.
								</p>
								<h5>4.2 Création et utilisation du Compte Utilisateur</h5>
								<p>
									La création d’un Compte Utilisateur permet d’obtenir le statut d’Utilisateur. Tout
									Internaute procédant à la création d’un Compte Utilisateur déclare et garantit qu’il est
									dûment habilité et dispose des droits nécessaires s’il représente une personne
									morale, <br>
									La Création d’un Compte Utilisateur nécessite d’accepter via une case à cocher les
									présentes CGU ainsi que celle du prestataire de services de paiement et/ou de
									monnaie électronique.
									La création du Compte Utilisateur nécessite de remplir un formulaire en ligne
									impliquant la communication de : <br>
									• Civilité <br>
									• Nom et Prénom <br>
									• Numéro de téléphone <br>
									• Adresse mail <br>
									• Mot de passe permettant ensuite d’accéder au Compte Utilisateur. <br>
									Le Compte Utilisateur permet d’accéder à certains Services et notamment, sans que
									cette liste soit limitative : <br>
									• De naviguer sur le Site et d’accéder aux projets en cours sur le Site avec un
									certain nombre d’informations (Descriptif du projet). <br>
									• De voter sur les Fiches Projets et/ou de laisser des questions et commentaires
									à l’attention des porteurs de projets <br>
									• De voir des images ou vidéos de l’évolution d’un projet sur le site <br>
									• De passer au paiement via les différents systèmes proposés sur le site.
								</p>

								<h5>4.3 Création et utilisation du Compte Investisseur</h5>

								Pour accéder à des Services plus étendus, l’Utilisateur peut valider son profil
								investisseur. Le Compte Utilisateur sera alors validé en Compte Investisseur (ciaprès « le Compte Investisseur »). <br>
								Tout Utilisateur procédant à la création d’un Compte Investisseur déclare et garantit
								: <br>
								(a) qu’il est dûment habilité et dispose des droits nécessaires s’il représente une
								personne morale,
								(b) que toutes les informations fournies lors de son inscription sont vraies et
								complètes, <br>
								(c) qu’il maintiendra l'exactitude de telles informations en modifiant si nécessaire son
								Compte Investisseur. <br>
								La création du Compte Investisseur nécessite de remplir un formulaire en ligne
								impliquant la communication d’un certain nombre de données obligatoires (et
								notamment pour les personnes physiques : <br>

								- Civilité, <br>
								- Nom et prénom, <br>
								- Date et lieu de naissance,<br>
								- Nationalité,<br>
								- Adresse postale,<br>
								- Adresse mail,<br>
								- Numéro de téléphone, <br>
								- Résidence fiscale, <br>
								- Situation maritale, <br>
								Pour les personnes morales : <br>
								- Extrait Kbis et statuts <br>
								- Niveau de revenus annuels net, <br>
								- Répartition du patrimoine global et de fournir des documents dont la
								liste est énoncée sur le Site conformément à la règlementation en
								vigueur relative à la lutte contre le blanchiment des capitaux et le
								financement du terrorisme. <br>
								L’Utilisateur garantit que toutes les informations qu’il donne dans le formulaire
								d’inscription sont exactes, à jour et sincères et ne sont entachées d’aucun caractère
								trompeur. <br>

								L’Utilisateur est informé et accepte que les informations saisies aux fins de création
								ou de mise à jour de son Compte Investisseur vaillent preuve de son identité. Les
								informations saisies par l’Utilisateur l’engagent dès leur validation. <br>
								Toute déclaration fausse ou irrégulière pourra faire l’objet d’un traitement spécifique
								destiné à prévenir la fraude. <br>
								Enfin, l’Utilisateur pourra être contraint de répondre à un questionnaire d’adéquation
								permettant de mesure sa connaissance du risque et déterminer son profil
								investisseur. <br>
								La création d’un Compte Investisseur emporte la création d’un compte de paiement
								auprès du prestataire de paiement de Nissim. <br>
								Le Compte Investisseur permet d’accéder à des Services étendus par rapport au
								Compte Utilisateur et notamment d’accéder à des données supplémentaires sur les
								Fiches Projets ou d’investir dans les projets présentés sur le Site.
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header">
							<a class="collapsed card-link" data-toggle="collapse" href="#heigth">
								ARTICLE 5. Conditions d’utilisation du Site
							</a>
						</div>
						<div id="heigth" class="collapse" data-parent="#accordion">
							<div class="card-body">
								<p>
									L’Utilisateur s’engage à utiliser le Site dans les conditions prévues aux présentes CGU
									et aux éventuelles conditions particulières auxquelles il aurait pu adhérer
									conformément aux lois et règlements en vigueur. <br>
									L’Utilisateur est seul responsable des informations, données, commentaires, images
									et plus généralement tous contenus qu’il transmet par l’intermédiaire du Site, et
									renonce à ce titre à engager tout recourt à l'encontre de NISSIM, notamment sur le
									fondement de l'atteinte au droit à l'image, à son honneur, à sa réputation ou à l'intimité
									de sa vie privée. <br>
									NISSIM ne peut être tenu responsable des éléments que l’Utilisateur divulgue de sa
									propre initiative. NISSIM n'est pas responsable de l'exactitude des données fournies,
									ni des conséquences que la diffusion de ces données peut avoir sur un Internaute ou
									sur un Projet. De ce fait, l’Utilisateur reconnait que son utilisation du Site se fait à ses
									« risques et périls ».
								</p>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header">
							<a class="collapsed card-link" data-toggle="collapse" href="#nine">
								ARTICLE 6. Description des Services
							</a>
						</div>
						<div id="nine" class="collapse" data-parent="#accordion">
							<div class="card-body">
								Le Site fournit une solution permettant notamment aux Utilisateurs directement par
								l’intermédiaire du Site et à travers leur Espace Personnel : <br>
								(i) d’obtenir le statut d’Investisseur en souscrivant dans des projets immobiliers ou
								des entreprises grâce à différents outils financiers préalablement sélectionnés par
								NISSIM et référencés sur le Site (ci-avant et après « Projets »). <br>
								(ii) D’obtenir le statut de Donateur en faisant un don à des entreprises et/ou des
								associations dans les conditions prévues sur le Site.

								<h5>6.1 Le Service d’investissement</h5>
								<p>
									L’Internaute qui envisage de réaliser un investissement devra valider son Compte
									Investisseur conformément à l’ARTICLE 4 des présentes. <br>

									L’Investisseur devra alors suivre le processus d’investissement décrit sur le Site. La
									procédure de versement des fonds, les modalités d’investissement ainsi que le coût
									investisseur sont mentionnées sur le Site, et particulièrement sur la Fiche Projet et
									le bulletin de souscription disponible sur l’Espace Personnel du Compte Investisseur. <br>
									Tout investissement sera fait en devise tel que le dollar ($) ou l’euro (€).
									La signature du bulletin de souscription vaut confirmation de la volonté d’investir.
								</p>

								<h5>6.2 Le Service de don</h5>
								<p>L’Internaute qui envisage de réaliser une donation devra créer un Compte Utilisateur.
									Le Donateur devra suivre le processus de donation décrit sur le Site. <br>
									La procédure de versement des dons et les éventuelles contreparties sont
								mentionnées sur la Fiche Projet directement sur le Site.</p>
								<h5>6.3 Autres Services</h5>
								<p>
									Le Site propose en lecture un blog d’information proposant des articles sur l’actualité
									écrite par NISSIM ou des contributeurs externes ayant un Compte Utilisateur.
									Les Utilisateurs peuvent laisser des commentaires qui sont modérés par NISSIM.
									En fonction du statut de l’Internaute, certaines fonctionnalités du Site ou certains
									Services sont ouverts : <br>
									• Le Visiteur peut accéder au Site dans une version dégradée, <br>
									• L’Utilisateur peut accéder aux Fiches Projets avec un niveau d’information <br>
									dégradé par rapport à l’Investisseur mais peut notamment voter et laisser des
									commentaires pour les Projets qui sont susceptibles de l’intéresser, <br>
									• L’Investisseur détenteur d’un Compte Investisseur a un accès intégral aux
									Fiches Projets. <br>
									NISSIM peut également proposer des services de prestataires externes sur le Site.
									NISSIM se réserve le droit de proposer tout autre Service qu’elle jugera utile, sous
									une forme et selon les fonctionnalités et moyens techniques qu’elle estimera les plus
									appropriés pour rendre lesdits Services.
								</p>

							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header">
							<a class="collapsed card-link" data-toggle="collapse" href="#thirty">
								ARTICLE 7. Conditions financières
							</a>
						</div>
						<div id="thirty" class="collapse" data-parent="#accordion">
							<div class="card-body">
								<p>
									NISSIM propose à l’Internaute à titre gracieux : <br>
									• La navigation sur le Site en qualité de Visiteur, <br>

									• La création et l’utilisation d’un Compte Utilisateur, <br>
									• La création d’un Compte Investisseur, et par conséquent l’ouverture d’un <br>
									compte de paiement. <br>
									• Tout investissement sera fait en devise tel que le dollar ($) ou l’euro (€).
									Les Services d’investissement et de don tels qu’énoncés aux articles 6.1 et 6.2 sont
									payants selon les conditions et modalités indiquées sur le Site et notamment sur les
									Fiches Projets.
								</p>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header">
							<a class="collapsed card-link" data-toggle="collapse" href="#forty">
								ARTICLE 8. Données personnelles de l’Internaute
							</a>
						</div>
						<div id="forty" class="collapse" data-parent="#accordion">
							<div class="card-body">
								L’Internaute reconnaît que l’utilisation du Site et des Services vaut acceptation du
								traitement de ses données personnelles conformément à la loi applicable et aux
								dispositions de la Charte des données personnelles et de la politique de
								confidentialité. <br>
								L’Utilisateur peut accéder à ces données dans son Espace Personnel.
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header">
							<a class="collapsed card-link" data-toggle="collapse" href="#fivety">
								ARTICLE 9. Données de NISSIM
							</a>
						</div>
						<div id="fivety" class="collapse" data-parent="#accordion">
							<div class="card-body">
								L’Utilisateur et notamment l’Investisseur ou le Donateur reconnaît et accepte
								expressément : <br>
								(i) que les données recueillies sur le Site et les équipements informatiques de NISSIM
								font foi de la réalité des opérations intervenues dans le cadre des présentes, <br>
								(ii) que ces données constituent le seul mode de preuve admis entre les parties,
								notamment pour le calcul des sommes dues à NISSIM.
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header">
							<a class="collapsed card-link" data-toggle="collapse" href="#sixty">
								ARTICLE 10. Obligation de l’Internaute
							</a>
						</div>
						<div id="sixty" class="collapse" data-parent="#accordion">
							<div class="card-body">
								Sans préjudice des autres obligations prévues aux présentes, l’Internaute s’engage à
								respecter les obligations qui suivent. <br>
								L’Internaute s’engage, dans son usage des Services, à respecter les lois et
								règlements en vigueur et à ne pas porter atteinte aux droits de tiers ou à l’ordre
								public.

								Il est seul responsable du bon accomplissement de toutes les formalités notamment
								administratives, fiscales et/ ou sociales et de tous les paiements de cotisations, taxes
								ou impôts de toutes natures qui lui incombent le cas échéant en relation avec son
								utilisation des Services. La responsabilité de NISSIM ne pourra en aucun cas être
								engagée à ce titre. <br>
								L’Internaute reconnaît avoir pris connaissance sur le Site des caractéristiques et
								contraintes, de l’ensemble des Services et notamment de l’avertissement général sur
								les risques liés à l’investissement dans le cadre de l’utilisation des Services fournis
								par NISSIM. <br>
								L’Internaute s’engage à faire un usage strictement personnel des Services. Il s’interdit
								en conséquence de céder, concéder ou transférer tout ou partie de ses droits ou
								obligations au titre des présentes à un tiers, de quelque manière que ce soit.
								L’Internaute s’engage à fournir à NISSIM toutes les informations nécessaires à la
								bonne exécution des Services. Plus généralement l’Internaute s’engage à coopérer
								activement avec NISSIM en vue de la bonne exécution des présentes. <br>
								L’Internaute s’interdit de diffuser, notamment et sans que cette liste soit exhaustive :
								• Des contenus pornographiques, obscènes, indécents, choquants ou inadaptés
								à un public familial, diffamatoires, injurieux, violents, racistes, xénophobes ou
								révisionnistes, <br>
								• Des contenus contrefaisants, <br>
								• Des contenus attentatoires à l’image d’un tiers, <br>
								• Des contenus mensongers, trompeurs ou proposant ou promouvant des
								activités illicites, frauduleuses ou trompeuses, <br>
								• Des contenus nuisibles aux systèmes informatiques de tiers (tels que virus,
								vers, chevaux de trois, etc.), <br>
								• Et plus généralement des contenus susceptibles de porter atteinte aux droits
								de tiers ou d’être préjudiciables à des tiers, de quelque manière et sous
								quelque forme que ce soit. <br>
								L’Utilisateur est informé et accepte que la mise en œuvre des Services nécessite qu’il
								soit connecté à internet et que la qualité des Services dépend directement de cette
								connexion, dont il est seul responsable.
								L’Internaute s'engage à ne pas utiliser de dispositifs ou logiciels de toutes sortes afin
								de perturber ou tenter de perturber le bon fonctionnement du Site.
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header">
							<a class="collapsed card-link" data-toggle="collapse" href="#seventy">
								ARTICLE 11. OBLIGATION DE NISSIM
							</a>
						</div>
						<div id="seventy" class="collapse" data-parent="#accordion">
							<div class="card-body">
								NISSIM mettra en œuvre tous les moyens afin de rendre le Site accessible 24 heures
								sur 24, sept jours sur sept, sauf en cas de force majeure ou d’un événement hors du
								contrôle de NISSIM et sous réserve des périodes de maintenance et des pannes
								éventuelles. <br>
								Dans la mesure du possible, NISSIM avertira préalablement les Internautes des
								interruptions ou arrêts affectant toute ou partie du Site. <br>
								NISSIM s'engage à faire ses meilleurs efforts pour sécuriser l'accès, la consultation
								et l'utilisation des Services conformément aux règles d'usages de l'Internet.
								NISSIM n'est pas responsable de l'altération, la perte ou la transmission accidentelle
								de données ou de l'envoi de virus via les contenus postés sur le Site par l’Internaute.
								En conséquence, la responsabilité de NISSIM ne saurait être engagée notamment
								dans les cas suivants : <br>
								• Interruptions momentanées d'une durée de quelques minutes, ou quelques
								heures, pour la mise à jour du Site ; <br>
								• Difficultés de fonctionnement ou interruption momentanée des Services
								indépendamment de la volonté de NISSIM notamment en cas d'interruption des
								services d'électricité ou de communications électroniques ; <br>
								• Interruptions momentanées des Services nécessaires aux évolutions ou
								maintenance ; <br>
								• Défaillance ou dysfonctionnements du réseau Internet dans la transmission de
								messages ou documents ; <br>
								• Défaillance des prestataires et notamment ceux qui détiennent nos serveurs.
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header">
							<a class="collapsed card-link" data-toggle="collapse" href="#heigthty">
								ARTICLE 12. Limite de responsabilité
							</a>
						</div>
						<div id="heigthty" class="collapse" data-parent="#accordion">
							<div class="card-body">
								<h5>12.1 Absence ou limite de responsabilité</h5>
								<div>
									Du fait de son rôle, NISSIM ne sera pas responsable à l'égard de l’Internaute de toute
									perte ou dommage qu'il pourrait subir. <br>
									<h5>12.1.1 Information en elle-même</h5>
									• Sur la qualité : NISSIM n’est pas responsable de la confiance que l’Internaute
									pourrait accorder à l'exhaustivité, l'exactitude ou l'existence de toute donnée
									publiée sur le Site. <br>

									• Sur l’évolution : NISSIM rappelle que les informations et services proposés sur
									le Site peuvent faire l’objet de modification ou de suppression, temporaire ou
									définitive, dans l'offre ou les fonctions proposées sur le Site ; <br>
									• Sur l’exhaustivité : Certaines informations présentées sur le Site peuvent
									contenir des prévisions ou autres déclarations prospectives concernant des
									événements futurs ou la performance financière des Projets. Ces déclarations
									ne sont que des prévisions, des opinions ou des estimations et la réalité peut
									se révéler très différente.

									<h5>12.1.2 Défaut de communication</h5>
									NISSIM rappelle que les Utilisateurs sont responsables des informations précises
									concernant leurs Comptes. <br>
									NISSIM ne saurait voir sa responsabilité engagée du fait des activités ou des
									informations stockées si elle n’avait pas eu effectivement connaissance de leur
									caractère illicite ou si, dès le moment où elle en a eu connaissance, elle a agi
									promptement pour retirer ces données ou en rendre l’accès impossible.

									<h5>12.1.3 Confidentialité</h5>
									NISSIM n’est pas responsable de l'incapacité de l'Utilisateur à conserver en toute
									sécurité et confidentialité son mot de passe ou les informations de son Compte.
									<h5>12.1.4 Relations entre les différents partenaires</h5>
									NISSIM n’est pas responsable des relations entre les différents partenaires et
									notamment : entre un Internaute et une société et/ou tout tiers dont le lien hypertexte
									apparait sur le Site.

									<h5>12.2 NISSIM est expressément tenu à une obligation de moyens dans la fourniture du Service</h5>

									<div>
										Aucun conseil et aucune information, qu’ils soient oraux ou écrits, obtenus par
										l’Internaute dans le cadre de l’utilisation du Site ne sont susceptibles de créer des
										garanties non expressément prévues par les présentes CGU. <br>
										Les sites et articles qui sont publiés sur le Site ou vers lesquels sont créés des liens
										ne constituent pas des consultations juridiques, comptables, commerciales, fiscales
										ou financières, qui supposent l’analyse d’un cas particulier par un professionnel. <br>
										NISSIM ne pourra pas être tenu responsable des dommages résultant de
										l’interprétation ou de l’utilisation des informations auxquelles le Site donne accès
										Toutes les informations et/ou données contenues sur le Site peuvent contenir des
										erreurs techniques et/ou typographiques.
										L’Internaute est averti et conscient que NISSIM n'aurait pas conclu le présent contrat
										sans les limitations de responsabilité et de garantie établies par les présentes.
									</div>
								</div>
							</div>
						</div>
					</div>

				</div> 
			</div>
			<!-- END COL-->

			<div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
				<div id="accordion">

					<div class="card">
						<div class="card-header">
							<a class="collapsed card-link" data-toggle="collapse" href="#col-13">
								ARTICLE 13. Confidentialité
							</a>
						</div>
						<div id="col-13" class="collapse" data-parent="#accordion">
							<div class="card-body">
								Les Utilisateurs et Investisseurs auront accès à des informations détaillées relatives
								aux Projets sur les Fiches Projets. <br>
								Toutes les informations relatives aux Projets, de quelque nature et/ou support
								qu’elles soient, doivent être considérées et traitées comme confidentielles (ci-après
								« Informations Confidentielles ») aussi longtemps que ces informations ne sont pas
								tombées dans le domaine public. <br>
								Les Utilisateurs et Investisseurs s’engagent à ne pas divulguer toute ou partie des
								Informations Confidentielles à des tiers et à ne pas les utiliser dans un autre but que
								l’étude de l’opportunité d’investir dans les Projets.
							</div>
						</div>
					</div>					

					<div class="card">
						<div class="card-header">
							<a class="collapsed card-link" data-toggle="collapse" href="#col-14">
								ARTICLE 14. Blocage du Compte Utilisateur et Investisseur et modération des commentaires
							</a>
						</div>
						<div id="col-14" class="collapse" data-parent="#accordion">
							<div class="card-body">
								Concernant les commentaires des Utilisateurs, Donateurs et/ou Investisseurs sur le
								site, NISSIM se réserve le droit : <br>
								• De supprimer immédiatement et sans préavis tout contenu qui, à sa seule
								appréciation, violerait les termes des présentes ou les lois et règlements en
								vigueur, <br>
								• De suspendre immédiatement et sans préavis tout contenu faisant l'objet d'une
								réclamation par un tiers s'estimant atteint dans ses droits. <br>

								Concernant les Comptes, NISSIM se réserve notamment le droit de suspendre ou
								bloquer immédiatement et sans préavis le Compte de l'Utilisateur ou Investisseur : <br>

								Qui aurait publié un contenu prohibé contraire aux lois et règlements en
								vigueur, <br>
								• Qui aurait fourni des informations, fausses, inexactes ou incomplètes au
								moment de la création du compte, <br>
								• Qui aurait utilisé plusieurs comptes sous sa propre identité ou celle de tiers
								sans avoir demandé et obtenu l’autorisation écrite préalable de NISSIM, <br>
								• Qui aurait réalisé une ou plusieurs promesses d’investissement ou de dons
								sans jamais toutefois procéder aux versements des fonds, ce qui peut altérer
								la qualité des services, <br>
								• En cas de détection d’anomalie sur le compte, <br>
								• En cas d’utilisation anormale ou abusive du compte <br>
								• En cas d’utilisation du compte de paiement à d’autres fins que celles de
								souscrire dans les projets proposés et percevoir les remboursements de
								ceux-ci. <br>
								La suspension ou le blocage peut être temporaire et implique le fait de ne plus
								autoriser de souscriptions, de dépôt ou de retrait sur le compte de paiement ou de
								supprimer certaines souscriptions. Toutefois, NISSIM peut décider à son initiative
								sans justification clôturer la relation d’affaires.
								Enfin, le prestataire de paiement de NISSIM se réserve le droit, conformément à ces
								propres conditions générales d’utilisations, de suspendre l’accès ou bloquer sans
								préavis le Compte de l’Utilisateur ou l’Investisseur.
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header">
							<a class="collapsed card-link" data-toggle="collapse" href="#col-15">
								ARTICLE 15. Durée et Désinscription
							</a>
						</div>
						<div id="col-15" class="collapse" data-parent="#accordion">
							<div class="card-body">
								Les présentes CGU s'appliquent : <br>
								• Pour le Visiteur : de sa connexion au Site à la fin de sa navigation («
								Déconnexion ») ; <br>
								• Pour l’Utilisateur : de la création de son Compte jusqu'à sa clôture, pour
								quelque raison que ce soit. <br>
								L’Utilisateur peut se désinscrire des Services à tout moment, en adressant une
								demande à cet effet à NISSIM par email, aux coordonnées mentionnées à l’ARTICLE
								21. <br>
								Pour l’Utilisateur, la désinscription est effective dans un délai maximum de 5 (cinq)
								jours à compter de cette demande. <br>
								Toutefois, pour l’Utilisateur avec le statut d’Investisseur, la désinscription est
								effective dans un délai maximum de 15 (quinze) jours à compter du moment où ce

								dernier n’utilise plus aucun Service du Site et sous réserve qu’il n’ait plus aucun
								investissement en cours.
								La désinscription effective entraine : <br>
								• La fermeture du Compte et la restitution le cas échéant, des sommes
								présentes sur ledit compte, <br>
								• L’absence d’accès aux données du Compte, <br>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header">
							<a class="collapsed card-link" data-toggle="collapse" href="#col-16">
								ARTICLE 16. Propriété intellectuelle
							</a>
						</div>
						<div id="col-16" class="collapse" data-parent="#accordion">
							<div class="card-body">
								<h5>16.1 Les droits et obligations de l’Internaute</h5>
								Le Site est la propriété exclusive de NISSIM.
								D'une manière générale, NISSIM accorde un droit gratuit, personnel, non-exclusif et
								non-transférable d'accès et d'utilisation du Site, tout autre droit étant expressément
								exclu sans l'accord préalable écrit de NISSIM. <br>
								Le contenu du Site ne peut être téléchargé, copié, reproduit, distribué, transmis,
								diffusé, affiché, vendu, concédé sous licence ou exploité de toute autre manière et à
								quelque finalité que ce soit, sans l'accord préalable écrit de NISSIM.
								<h5>16.2 Les droits et obligations de NISSIM</h5>
								NISSIM est titulaire de tous les droits de propriété intellectuelle ou d’usage relatifs
								au Site et aux éléments accessibles sur le Site, notamment : textes, photographies,
								images, icônes, illustrations, vidéos, sons, musiques, mises en page, charte
								graphique, logos, logiciels, programmes ou bases de données. <br>
								Les marques et logos de NISSIM et de ses partenaires figurant sur le Site sont des
								marques déposées. En vertu des articles L. 713-2 et suivant du Code de la Propriété
								Intellectuelle, sont interdites, sauf autorisation expresse de leurs titulaires, toute
								reproduction ou représentation totale ou partielle, toute modification ou suppression
								de ces marques
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header">
							<a class="collapsed card-link" data-toggle="collapse" href="#col-17">
								ARTICLE 17. Liens hypertextes établis depuis le Site
							</a>
						</div>
						<div id="col-17" class="collapse" data-parent="#accordion">
							<div class="card-body">
								<h5>17.1 Liens hypertextes vers des sites tiers</h5>
								<h6>17.1.1 Les droits et devoirs de l’Internaute</h6>
								Le Site peut contenir des liens hypertextes pointant vers d'autres sites Internet qui
								n'appartiennent pas à NISSIM ou ne sont pas contrôlés par NISSIM notamment ceux
								relatifs aux Projets (ci-après « Sites Tiers »).
								L’Internaute ne peut reproduire les liens hypertextes présents sur le Site.
								<h5>17.1.2 Les droits et devoirs de NISSIM</h5>
								NISSIM n'exerce aucun contrôle sur le contenu, les chartes de protection des données
								personnelles ou les pratiques des sites tiers et décline toute responsabilité à cet
								égard.
								NISSIM n'est pas responsable de la disponibilité des sites tiers et ressources
								externes et ne cautionne ni la publicité, ni les produits ou autres matériels figurant
								sur ces sites Internet.
								<h5>17.2 Liens hypertextes renvoyant au Site</h5>
								Sont interdits sans autorisation préalable de NISSIM tout lien hypertexte renvoyant
								au Site et utilisant notamment les techniques suivantes : <br>
								• Le "framing" défini comme une technique permettant, sans quitter le site
								d'origine, d'insérer une page du Site qui vient s'afficher dans un cadre de la
								page web d'origine ; <br>
								• Le "deep-linking" défini comme l'insertion d'un lien hypertexte renvoyant à une
								page secondaire du Site ; <br>
								• Le "inline linking" défini comme un hyperlien permettant d'inclure dans la page
								web d'origine une image provenant d'une autre page web est interdit.
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header">
							<a class="collapsed card-link" data-toggle="collapse" href="#col-18">
								ARTICLE 18. Clause de nullité
							</a>
						</div>
						<div id="col-18" class="collapse" data-parent="#accordion">
							<div class="card-body">
								Si une ou plusieurs stipulations des présentes Conditions Générales d’Utilisation
								devaient être déclarées nulles, cette nullité n’aura aucun effet sur les autres
								stipulations qui demeureront valides et continueront à s’appliquer. Si une clause
								venait à être supprimée ou à manquer, elle serait remplacée par une disposition
								juridiquement valable et conforme à l'objet des présentes CGU.
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header">
							<a class="collapsed card-link" data-toggle="collapse" href="#col-19">
								ARTICLE 19. Réclamations
							</a>
						</div>
						<div id="col-19" class="collapse" data-parent="#accordion">
							<div class="card-body">
								L’Internaute doit adresser ses réclamations à NISSIM à l’adresse indiquée à l’ARTICLE 21. <br>

								NISSIM s’engage à accuser réception de la réclamation dans un délai maximum de
								dix (10) jours ouvrables à compter de sa réception. <br>
								Une réponse à la réclamation sera adressée dans un délai maximum de deux (2) mois
								à compter de sa réception, sauf survenance de circonstances particulières dûment
								justifiées. Dans l’éventualité où NISSIM ne serait pas en mesure d’apporter une
								réponse dans ce délai, NISSIM contactera l’Internaute pour l’informer de la raison de
								ce retard et lui indiquer le délai de réponse approprié. <br>
								Si l’Internaute ne trouvait pas satisfaction dans la réponse apportée par NISSIM ou à
								défaut de réponse, il aurait la possibilité de faire appel au Médiateur de l’Autorité des
								Marchés Financiers : <br>
								• En remplissant un formulaire sur le site de l’amf : www.amf-france.org, <br>
								• En le contactant par téléphone : (+33) 01.53.45.60.00 <br>
								• Ou par courrier : Autorité des marchés financiers - La médiation - 17, place de
								la Bourse 75082 Paris Cedex 02 <br>
								La médiation ne s’applique qu’aux Internautes personnes physiques.
								La charte relative à la démarche de médiation portée par l’AMF est disponible ici.
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header">
							<a class="collapsed card-link" data-toggle="collapse" href="#col-20">
								ARTICLE 20. Reprise d’activité de la Plateforme en cas de défaillance
							</a>
						</div>
						<div id="col-20" class="collapse" data-parent="#accordion">
							<div class="card-body">
								En cas de défaillance de NISSIM définie comme l’ouverture d’une procédure collective
								avec désignation d’un mandataire, administrateur ou liquidateur judiciaire, ayant pour
								effet de décharger partiellement ou intégralement les dirigeants du Partenaire de
								leurs fonctions (c’est-à-dire l’ouverture d’un redressement ou d’une liquidation
								judiciaire), notre prestataire de paiement STRIPE sera en charge de proposer aux
								Investisseurs des Services transitoire et dégradés de continuité d’activité permettant
								sa reprise optimale par une société tierce. <br>
								NISSIM service technique assurera en interne les tâches suivantes dont l’objectif est
								de permettre à court-terme la reprise de la plateforme ou du portefeuille client du
								Partenaire par une société tierce : <br>
								• Arrêt des collectes en cours et remboursements éventuels des Investisseurs; <br>
								• Continuité d’activité dégradée et notamment pour les remboursements en
								cours ; <br>
								• Identification d’un repreneur potentiel de la plateforme.
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header">
							<a class="collapsed card-link" data-toggle="collapse" href="#col-21">
								ARTICLE 21. Coordonnées de NISSIM
							</a>
						</div>
						<div id="col-21" class="collapse" data-parent="#accordion">
							<div class="card-body">
								ADRESSE/SIEGE SOCIAL : Harju maakond, Tallinn, Kesklinna linnaosa, Ahtri tn 12,
								10151 Estonie.
								Lien site web : <a target="_blanck" href="https://nissim-construction.com/">https://nissim-construction.com/</a>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header">
							<a class="collapsed card-link" data-toggle="collapse" href="#col-22">
								ARTICLE 22. Conflit, compétences et loi applicable
							</a>
						</div>
						<div id="col-22" class="collapse" data-parent="#accordion">
							<div class="card-body">
								<p>
									Les présentes CGU sont régies, interprétées et appliquées conformément au droit
									estonien, la langue d'interprétation étant la langue française en cas de contestation
									sur la signification d'un terme ou d'une disposition des présentes. <br>
									Sous réserve des dispositions d'ordre public applicables en matière de compétence
									juridictionnelle, les tribunaux du ressort de la Cour d’Appel du siège de NISSIM seront
									seuls compétents pour connaître de tout litige relatif aux présentes.
								</p>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-header">
							<a class="collapsed card-link" data-toggle="collapse" href="#col-23">
								ARTICLE 23. Entrée en vigueur
							</a>
						</div>
						<div id="col-23" class="collapse" data-parent="#accordion">
							<div class="card-body">
								<p>Les présentes CGU ont été fait le 24/05/2022</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END Col -->
		</div>
		<!-- END ROW -->
	</div>
	<!-- END CONTAINER -->
</section>
<!-- END Contact Us -->


{% endblock %}