{% extends "base.html.twig" %}

{% block title %} Historique de {{ appName }} {% endblock %}

{% block body %}

<section class="section-banner" style="background-image: url({{ asset('themes/front/assets/img/cabane-one-performance.jpg') }});">

    <div class="caption">
        <div class="container">
            <h1>Historique</h1>
        </div>
    </div>
</section>

<section class="portfolio-details  pt-5 mt-0">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<div class="portfolio-details-content border-0 mb-4 pt-0 mt-0" style="text-align:justify">
					<h3 class="port-title">Project Title Here</h3>
					<p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Nulla blandit eget arcu tincidunt tincidunt. Maecenas sagittis, 
                        justo ut tincidunt rhoncus, justo neque facilisis leo, sit amet 
                        venenatis odio ipsum ut metus. Ut placerat sagittis lacus. 
                        In eget vulputate nibh, nec ultrices nunc. Cras eu dolor sed dolor 
                        tempus volutpat vel at justo. Ut volutpat eleifend orci, sit amet 
                        volutpat nisl gravida nec. Pellentesque odio tellus, faucibus eu 
                        vehicula id, pulvinar non quam. Vivamus bibendum arcu eget fermentum 
                        posuere. Phasellus laoreet libero vitae lorem faucibus vestibulum. 
                        Nulla facilisi. Praesent commodo fringilla orci.
					</p>
					<img src="{{ asset('themes/front/assets/img/Ootravaux_Maison-bois_1000x667-min.jpg') }}" class="w-100 d-block mb-3 img-fluid" alt="">
					<p>
                        Nam hendrerit ante id nisl egestas, eget vulputate orci aliquet. 
                        Pellentesque venenatis maximus tortor. Sed eget risus id eros aliquam 
                        tincidunt quis vitae augue. Nulla cursus urna sit amet rutrum auctor. 
                        Nam facilisis vel ligula sit amet pharetra.
					</p>

					<h3 class="port-title">Project Title Here</h3>
					<p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Nulla blandit eget arcu tincidunt tincidunt. Maecenas sagittis, 
                        justo ut tincidunt rhoncus, justo neque facilisis leo, sit amet 
                        venenatis odio ipsum ut metus. Ut placerat sagittis lacus. 
                        In eget vulputate nibh, nec ultrices nunc. Cras eu dolor sed dolor 
                        tempus volutpat vel at justo. Ut volutpat eleifend orci, sit amet 
                        volutpat nisl gravida nec. Pellentesque odio tellus, faucibus eu 
                        vehicula id, pulvinar non quam. Vivamus bibendum arcu eget fermentum 
                        posuere. Phasellus laoreet libero vitae lorem faucibus vestibulum. 
                        Nulla facilisi. Praesent commodo fringilla orci.
					</p>

					<p>
                        Nam hendrerit ante id nisl egestas, eget vulputate orci aliquet. 
                        Pellentesque venenatis maximus tortor. Sed eget risus id eros aliquam 
                        tincidunt quis vitae augue. Nulla cursus urna sit amet rutrum auctor. 
                        Nam facilisis vel ligula sit amet pharetra.
					</p>
				</div>
			</div>
			<!-- END  Col -->

			<div class="clearfix"></div>

		</div>
	</div>
</section>
<!-- END portfolio-details -->


{% endblock %}