{% extends "base.html.twig" %}

{% block title %} Historique de {{ appName }} {% endblock %}

{% block body %}

<section class="section-banner" style="background-image: url({{ asset('themes/front/assets/img/cabane-one-performance.jpg') }});">

    <div class="caption">
        <div class="container">
            <h1 class="mt-4 text-center">Historique</h1>
        </div>
    </div>
</section>

<section class="portfolio-details  pt-5 mt-0 pb-5">
	<div class="container">
		<div class="row">
            <div class="col-md-9 mx-auto">
                <div class="section-title text-left wow zoomIn">
                    <h2>Historique</h2>
                </div>

                <p>
                    Mot du fondateur : Depuis longtemps, pratiquement tous les acquéreurs que je convoitais voulaient des maisons saines, bien isolées, durables et écologiques. Et beaucoup ajoutait qu’ils préféreraient des maisons plein pied (pour les vieux jours). Mais ils devaient se contenter de ce qu’il y avait sur le marché ; des biens mal isolés, construits de façon conventionnelle.
                </p>

                <p>
                    Durant un voyage en Irlande j’ai constaté que 95% des maisons étaient construites en ossature en bois. Elles étaient écologiques avec une durée de vie extrêmement longue et elles étaient extrêmement bien isolées proposant une qualité de vie supérieure. Alors j’ai décidé d’adapter ce type de construction à la France est projet Nissim est né. 
                </p>
                
            </div>
			<!-- END  Col -->

			<div class="clearfix"></div>

		</div>
	</div>
</section>
<!-- END portfolio-details -->


{% endblock %}