{% for type, messages in app.flashes %}
	{% for message in messages %}
		<div class="p-3 m-0 alert alert-{{ type }} bg-{{ type }} border-0 rounded-0 font-weight-light" role="alert">
			<span class="badge border-light font-weight-bold">

				{% if type == 'danger' %}
					<i class="fa fa-warning"></i>
				{% elseif type =='success' %}
					<i class="fa fa-check"></i>
				{% endif %}

			</span>

			<span class="text-light">
				{{ message }}
			</span>

		</div>
	{% endfor %}
{% endfor %}
