{% extends 'admin.html.twig' %}

{% block title %}Nouveau Projet{% endblock %}

{% block class %}col-md-9 mx-auto{% endblock %}

{% block pagetitle %}
    <div class="form-head d-flex flex-wrap mb-sm-4 mb-3 align-items-center">
        <div class="mr-auto  d-lg-block mb-3">
            <h2 class="text-black mb-0 font-w700">Créer un nouveau projet</h2>
            <p class="mb-0">
                Projets
            </p>
        </div>
    </div>
{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-body">

            {{ include('admin/admin_projets_crud/_form.html.twig') }}

        </div>
    </div>

{% endblock %}
