<!-- PAIMENT PROCCESS BANNER -->
<section class="paiement-proccess-banner bg-light costom-margin-top">
	<div class="container">
		<h1>Financement du projet:
			<span class="text-primary">{{ projet.name }}</span>
		</h1>
	</div>
</section>
<!-- END PAIMENT PROCCESS BANNER -->
