{% extends 'admin.html.twig' %}

{% block title %}Edit Financement{% endblock %}

{% block body %}
    <h1>Edit Financement</h1>

    {{ include('admin_financement_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_financement_crud_index') }}">back to list</a>

    {{ include('admin_financement_crud/_delete_form.html.twig') }}
{% endblock %}
