{% extends 'admin.html.twig' %}

{% block title %}Transactions financière{% endblock %}

{% block colclass %}col-md-12{% endblock %}

{% block pagetitle %}
    <div class="form-head d-flex flex-wrap mb-sm-4 mb-3 align-items-center">
        <div class="mr-auto  d-lg-block mb-3">
            <h2 class="text-black mb-0 font-w700">Transactions financières</h2>
            <p class="mb-0">
                Toute les transactions
            </p>
        </div>
    </div>
{% endblock %}

{% block body %}

	<div class="card">
		<div class="card-body p-0">

			{% include "admin/admin_financement_crud/_tableau.html.twig" %}

			<div class="p-4">
				{{ knp_pagination_render(financements) }}
			</div>

		</div>
	</div>


{% endblock %}
