{% extends 'base.html.twig' %}

{% block title %}Edition du Projet {{ projet.name }} {% endblock %}

{% block body %}

    <h1>Edit Projet</h1>

    {{ include('projets/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_projets') }}">Voir tout les projets</a>

    {{ include('projets/_delete_form.html.twig') }}

{% endblock %}
