<section class="section-banner" style="background-image: url();">
	<div class="caption">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h1>Espace utilisateur</h1>
				</div>
				<div class="col-md-6">
					<p>Bienvenue
						{{ app.user.nom }}</p>
				</div>
			</div>
		</div>
	</div>
</section>
