{% extends 'base.html.twig' %}

{% block title %}Edition de votre profil {{ app.user.nom }}{% endblock %}

{% block body %}

    {% include "user/_sectionBanner.html.twig" %}

    <section class="bg-light pt-4 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mx-auto">

                    <div class="bg-white p-4 m-4 form-input-border border">

                        <div class="row">
                            <div class="col-md-5">
                                <h4 class="pt-4 pb-4">Modifier le nom de votre compte</h4>

                                 {{ include('user/_form.html.twig', {'button_label': 'Enregistrer les Modifications'}) }}
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}
