<!-- START FOOTER -->
<footer class="bg-dark p-5">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="text-center text-light font-italic">
					<div>
						Ce site est protégé par
						<a href="{{ path('app_pages_conditions') }}">la politique de confidentialité</a>
						et
						<a href="{{ path('app_pages_conditions') }}">les conditions d'utilisation</a>
					</div>
					<p>© {{ appName }} tous les droits sont réservés.</p>
				</div>
			</div>
			<!--- END COL -->
		</div>
		<!--- END ROW -->
	</div>
	<!--- END CONTAINER -->
</footer>
<!-- END FOOTER -->