<!-- START FOOTER -->
<footer class="bg-dark p-5">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="text-center text-light font-italic">
					<p>© {{ appName }} tous les droits sont réservés.</p>
				</div>
			</div>
			<!--- END COL -->
		</div>
		<!--- END ROW -->
	</div>
	<!--- END CONTAINER -->
</footer>
<!-- END FOOTER -->
